# Dependency directories
node_modules/
venv/
env/
.env
.venv
__pycache__/
*.pyc

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Build/Dist
dist/
build/
out/

# Assets & Logs
uploads/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pip-log.txt

# Testing
.coverage
htmlcov/

# Databases (Local data)
data/
*.sqlite
